:root {
	--font-scale: max( 1rem, 0.9375rem + 0.3125vw );

	--font-size-n-1: 0.875em; /* 14 */
	/* 16 */
	--font-size-1: 1.125em; /* 18 */
	--font-size-2: 1.25em; /* 20 */
	--font-size-3: 1.375em; /* 22 */

	--space-scale-1: 0.1875em;
	--space-scale-2: 0.375em;
	--space-scale-3: 0.75em;
	--space-scale-4: 1.125em;
	--space-scale-5: 1.5em;
	--space-scale-6: 2.25em;
	--space-scale-7: 3em;
	--space-scale-8: 4.5em;
	--space-scale-9: 6em;

	--rhythm: var(--space-scale-5, 1.5em);

	--size-content: calc(37.5 * var(--font-scale, 1rem) );
	--size-container: calc( var(--size-content) * 1.625 );

	--leading-dense: 1.25;
	--leading-default: 1.5;
	--leading-dynamic: calc( 1em + 0.5rem );

	--root-padding: 5vw;
}

@font-face {
	font-family: epilogue;
	src: url('./fonts/epilogue.woff2') format('woff2');
	font-style: normal;
	font-weight: 0 1000;
	font-display: swap;
}

@font-face {
	font-family: epilogue;
	src: url('./fonts/epilogue-italic.woff2') format('woff2');
	font-style: italic;
	font-weight: 0 1000;
	font-display: swap;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: system-ui, sans-serif;
	font-size: var(--font-scale, 1rem);
	line-height: var(--leading-default);
	font-synthesis: none;
	margin: 0;
}

body > * + * {
	margin-block-start: var(--space-scale-6);
}

:where(:is(h1,h2,h3)){
	line-height: var(--leading-dynamic);
	overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
	font-family: epilogue, system-ui, sans-serif;
}

figure {
	margin: 0;
}

figure :is(video, img) {
	max-inline-size: 100%;
	block-size: auto;
	display: block;
}

.rhythm > * {
	margin-block: 0;
}

.rhythm > * + * {
	margin-block-start: var(--rhythm, 1.5em);
}

.rhythm > :is(h1,h2,h3) + p {
	margin-block-start: calc( var(--rhythm, 1.5em) / 3 );
}

.root {
	padding-inline: var(--root-padding, 5vw);
}

.content {
	max-inline-size: var(--size-container);
}

.content > * {
	max-inline-size: var(--size-content);
}

.has-color-scheme {
	background-color: var(--surface-color);
	color: var(--subject-color);
}

.color-scheme-light {
	--surface-color-max: #fff; 
	--surface-color: #FBF8ED;

	--surface-color-complimentary: #CCFFF7;

	--accent-color-primary: #EB6347;
	--accent-color-secondary: #047F86;

	--subject-color: #231F20;
	--subject-color-max: #000;
}

.color-scheme-accent {

	--surface-color-max: #047F86; 
	--surface-color: #047F86;

	--surface-color-complimentary: #CCFFF7;

	--accent-color-primary: #CCFFF7;
	--accent-color-secondary:#CCFFF7 ;

	--subject-color: #FBF8ED;
	--subject-color-max: #fff;
}

a {
	color: var(--accent-color-secondary);
}

a:hover {
	color: vaR(---subject-color-max);
}
